.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: .5em 1em;
    background-color: mix(#222, crimson, 75%);
    color: #eee;
}

.top-bar__title {
    font-size: 1.3rem;
    text-align: center;
}

.top-bar__link {
    color: white;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:focus-visible {
        outline: 1px solid;
        outline-offset: 2px;
    }
}
